          <div>  
            <form name="resetForm" id="resetForm" ng-submit="setPassword.setNewPassword(); ">
              <div class="form-group">
                <label for="newpassword">Enter password :</label>
                <input type="password" class="form-control" id="newpassword" placeholder="Enter new password" name="newpassword" ng-model="setPassword.password" required="true">
              </div>
              <div class="form-group">
                <label for="confirmpassword">Confirm password :</label>
                <input type="password" class="form-control" id="newpassword" placeholder="Enter new password" name="newpassword" ng-model="setPassword.confirmpassword" required="true">
              </div>
              <div ng-if="newpassword.password!=newpassword.confirmpassword && newpassword.password!=null && newpassword.password!=null">
                <p>The passwords don't match</p> 
              </div>	
              <div ng-if="newpassword.password==newpassword.confirmpassword">
                <p>The passwords match</p> 
              </div>
              <button type="submit" class="btn btn-warning">Set password!</button>

            </form>
          </div>