          <div class="set-password">  
            <form name="setPasswordForm" id="setPasswordForm" ng-submit="setPassword.setNewPassword(); ">
              <div class="form-group">
                <label for="newpassword">Enter password :</label>
                <input type="password" class="form-control" id="newpassword" placeholder="Enter new password" name="newpassword" ng-model="setPassword.password" required="true">
              </div>
              <div class="form-group">
                <label for="confirmpassword">Confirm password :</label>
                <input type="password" class="form-control" id="newpassword" placeholder="Confirm password" name="newpassword" ng-model="setPassword.confirmpassword" required="true">
              </div>
<!--               <div ng-if="newpassword.password != newpassword.confirmpassword">
                <p>The passwords don't match</p> 
              </div>	
              <div ng-if="newpassword.password == newpassword.confirmpassword">
                <p>The passwords match</p> 
              </div>  -->
              <br>
              <center>
              <button type="submit" class="btn btn-warning" ng-disabled="setPassword.submit==true;">Set password!</button>
              </center>
            </form>
          </div>