          
				<center><a ng-href="#/" style="font-size: 20px; color: #2FBBFF;"> &#8617; Back</a></center>
				<hr>
		<div class="reset-form">
            <form name="resetForm" id="resetForm" ng-submit="reset.requestPasswordReset(); ">
              <div class="form-group">
                <label for="email">Enter your registered email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="reset.resetData.email" required="true">
              </div>
              
              <center>
              <button type="submit" ng-disabled="reset.submit==true;" class="btn btn-warning btn-md">Reset!</button>
              </center>

            </form>
          </div>