          <div>  
            <form name="resetForm" id="resetForm" ng-submit="reset.requestPasswordReset(); ">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="reset.resetData.email" required="true">
              </div>
              

              <button type="submit" class="btn btn-warning">Reset!</button>

            </form>
          </div>