<div style="margin-top: 30px;">
<center><a ng-href="#/user/dashboard" style="font-size: 20px; color: #2FBBFF;"> &#8617; Back to dashboard</a></center>
<hr> 
<div class="card" style="padding: 3% 3% 3% 3%; width: 90%; margin-left: auto; margin-right: auto;">
        <div class="card container-fluid" style="padding:10px 30px 10px 30px;">
            <div class="left">
                <p style="font-size: 20px;">Topic : {{singleTest.test.topic}}</p>
                <p style="margin-bottom: 0;">Category : {{singleTest.test.category}}</p>
                <p style="margin-bottom: 0;">Questions: {{singleTest.test.number_of_ques}}</p>
                <p style="margin-bottom: 0;">Marks per question: {{singleTest.test.marks_per_question }}</p>
                <p style="margin-bottom: 0;">Duration : {{singleTest.test.duration}} minutes</p>
            </div>    
            <div class="right">
                <btn class="btn btn-primary" ng-click="singleTest.editTest=true;">edit test</btn>
            </div>
        </div>  
          
          <div ng-if="singleTest.editTest==true" class="container">
            <form ng-submit="singleTest.getEditedTest();" class="card" style="padding:20px 10px 20px 10px; ">
                <div class="form-group">
                  <label for="topic">Topic:</label>
                  <input type="text" class="form-control" id="topic" ng-model="singleTest.editedTest.topic" required ></input>
                </div>
                <div class="form-group">
                  <label for="category">Category:</label>
                  <input type="text" class="form-control" id="category" ng-model="singleTest.editedTest.category" required ></input>
                </div>
                <div class="form-group">
                  <label for="duration">Duration:</label>
                  <input type="number" class="form-control" id="duration" ng-model="singleTest.editedTest.duration" required ></input>
                </div>     
                <div class="form-group">
                  <label for="marks">Marks per question:</label>
                  <input type="number" class="form-control" id="marks" ng-model="singleTest.editedTest.marks_per_question" required ></input>
                </div>                                              
                <div class="text-center">
                <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form> 
          </div>
                                
        <div class="card" style="padding: 30px 3% 30px 3%;">
          <p ng-if="singleTest.test.questions.length==0"> No questions added </p> 
          <div ng-repeat="question in singleTest.test.questions" class="container-fluid" style="padding:10px 40px 10px 30px;"> 
            <p>{{$index+1}}. {{question.question_desc}}</p>
            <div class="row">
              <div class="col-sm-10">
                <p>(a) {{question.optA}}</p>
                <p>(b) {{question.optB}}</p>
                <p>(c) {{question.optC}}</p>
                <p>(d) {{question.optD}}</p>
                <p>Answer : {{question.answer}}</p> 
              </div>

              
              <div class="col-sm-2 text-center">
              <button class="btn btn-primary" ng-click="singleTest.editQuestion=true; singleTest.question_index=$index; singleTest.getEditQuestion($index)">edit question</button>
              <br>
              <br>
              <button class="btn btn-primary" ng-click="singleTest.getDeleteQuestion(question._id);">delete question</button>              
              </div>  
                       

            </div>
            
          <div ng-if="singleTest.editQuestion==true && $index==singleTest.question_index" class="container">

            <form ng-submit="singleTest.postEditedQuestion();" style="padding:20px 10px 20px 10px; ">
                <div class="form-group">
                  <label for="question_desc">Question:</label>
                  <textarea cols="4" class="form-control" id="question_desc" ng-model="singleTest.updatedQuestion.question_desc" required ></textarea>
                </div>
                <label class="col-sm-6">
                  <input type="radio" ng-model="singleTest.updatedQuestion.answer" value={{singleTest.updatedQuestion.optA}} name="answer" required >
                  <input type="text" id="optA" ng-model="singleTest.updatedQuestion.optA" required>
                </label>
                <label class="col-sm-6">
                  <input type="radio" ng-model="singleTest.updatedQuestion.answer" value={{singleTest.updatedQuestion.optB}} name="answer">
                  <input type="text" id="optB" ng-model="singleTest.updatedQuestion.optB" required>
                </label>
                <label class="col-sm-6">
                  <input type="radio" ng-model="singleTest.updatedQuestion.answer" value={{singleTest.updatedQuestion.optC}} name="answer">
                  <input type="text" id="optC" ng-model="singleTest.updatedQuestion.optC" required>
                </label>
                <label class="col-sm-6">
                  <input type="radio" ng-model="singleTest.updatedQuestion.answer" value={{singleTest.updatedQuestion.optD}} name="answer">
                  <input type="text" id="optD" ng-model="singleTest.updatedQuestion.optD" required>
                </label>                                
                <div class="text-center">
                <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form> 
          </div>
            <hr>
          </div>
          <center><button class="btn btn-primary" ng-click="singleTest.addQuestion=true"><span class="glyphicon glyphicon-plus"></span>Add new question</button></center>
          <div ng-if="singleTest.addQuestion==true" class="container">
            <form ng-submit="singleTest.postQuestion();" style="padding:20px 10px 20px 10px; ">
                <div class="form-group">
                  <label for="question_desc">Question:</label>
                  <textarea cols="4" class="form-control" id="question_desc" ng-model="singleTest.questionData.question_desc" required ></textarea>
                </div>
                <label class="col-sm-6">
                  <input type="radio" ng-model="singleTest.questionData.answer" value={{singleTest.questionData.optA}} name="answer" required >
                  <input type="text" id="optA" ng-model="singleTest.questionData.optA" required>
                </label>
                <label class="col-sm-6">
                  <input type="radio" ng-model="singleTest.questionData.answer" value={{singleTest.questionData.optB}} name="answer">
                  <input type="text" id="optB" ng-model="singleTest.questionData.optB" >
                </label>
                <label class="col-sm-6">
                  <input type="radio" ng-model="singleTest.questionData.answer" value={{singleTest.questionData.optC}} name="answer">
                  <input type="text" id="optC" ng-model="singleTest.questionData.optC">
                </label>
                <label class="col-sm-6">
                  <input type="radio" ng-model="singleTest.questionData.answer" value={{singleTest.questionData.optD}} name="answer">
                  <input type="text" id="optD" ng-model="singleTest.questionData.optD">
                </label>                                
                <div class="text-center">
                <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form> 
          </div>
        </div>  
        <button class="btn btn-danger" ng-click="singleTest.getDeleteTest();"><span class="glyphicon glyphicon-plus"></span>Delete test</button> 
  </div>
</div>