<div class="card container" style="padding: 5% 5% 5% 5%">

      <p>{{count}}</p>

<p class="text-center">Question {{takeTest.currentPage+1}}</p>
<hr>
    <div ng-repeat="question in takeTest.test.questions | startFrom:takeTest.currentPage*takeTest.pageSize | limitTo:takeTest.pageSize">
        <p>{{question.question_desc}}</p>
        <label class="col-sm-6">
          <input type="radio" ng-model="takeTest.answerArray[takeTest.currentPage].givenAnswer" value={{question.optA}} name="answer" required >
          {{question.optA}}
        </label>
        <label class="col-sm-6">
          <input type="radio" ng-model="takeTest.answerArray[takeTest.currentPage].givenAnswer" value={{question.optB}} name="answer">
          {{question.optB}}
        </label>
        <label class="col-sm-6">
          <input type="radio" ng-model="takeTest.answerArray[takeTest.currentPage].givenAnswer" value={{question.optC}} name="answer">
          {{question.optC}}
        </label>
        <label class="col-sm-6">
          <input type="radio" ng-model="takeTest.answerArray[takeTest.currentPage].givenAnswer" value={{question.optD}} name="answer">
          {{question.optD}}
        </label>                          
    </div>
    <div ng-if="takeTest.currentPage!=takeTest.test.number_of_ques-1">
    <button ng-disabled="takeTest.currentPage == 0" ng-click="takeTest.currentPage=takeTest.currentPage-1">
        Previous
    </button>
    {{takeTest.currentPage+1}}/{{takeTest.test.number_of_ques}}
    <button ng-disabled="takeTest.currentPage >= takeTest.test.questions.length/takeTest.pageSize - 1" ng-click="takeTest.currentPage=takeTest.currentPage+1">
        Next
    </button>
    </div>
    <div ng-if="takeTest.currentPage==takeTest.test.number_of_ques-1">
        <button class="btn btn-info" ng-click="takeTest.submitTest();">Submit test</button>
    </div>