body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
.navbar{
  -webkit-box-shadow: 3px 4px 33px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 33px -3px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 33px -3px rgba(0,0,0,0.75);  
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  z-index: 999;
}

.navbar-brand{
  font-family: 'Bangers', cursive;
  color: white!important;
  background-color: #dc4c4c;
  font-size: 30px !important; 
  text-align: center;
}

.navbar .navbar-right>li>a ,a:hover{
height: 50px;
}
.nav>li>a {
    position: relative;
    display: block;
    background-color: white;
    color: #dc4c4c;
    font-weight: bolder;
    font-size: 18px;
    z-index: 999;
}

.icon-bar
{
  background:white !important; /*Whatever colour you want for icon lines*/
}
.navbar-toggle
{
  background:#dc4c4c !important; /*Whatever colour you want for background */
}
/*.about{
  padding: 5% 10% 5% 10%;
  background-image: url('background.png') !important;
  background-position: center center !important;
  background-attachment: fixed;
  background-repeat:repeat-y !important; 
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover!important;
}*/


.user-dashboard-section{
  margin-top: 100px;
  margin-bottom: 50px;
/*  margin-left: 3%;
  margin-right: 3%;
  padding-left: 3%;
  padding-right: 3%;*/
}
.custom-bg{
    background-image: linear-gradient(to bottom, rgba(1,1,1,0.6) 0%,rgba(1,1,1,0.6) 100%),url('./../img/tested-ok.jpg') !important;
  background-position: center center !important;
  background-size: cover !important;
  background-attachment: fixed;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover!important;
  z-index:-1;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  padding: 5% 5% 5% 5%;
}
#myTests{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.icon-bar{
  color:white;
}

.header{
 font-family: 'Bangers', cursive;
  /* font-size: 15vmin;
  text-shadow: 4px 4px 4px #aaa;*/
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #dc4c4c;
  color:white;
}
.header p{

 font-family: 'Bangers', cursive;
 margin: 0 0 0 !important;
}
.headline{
    font-family: 'Bangers', cursive;
  font-size: 15vmin;
  text-shadow: 4px 4px 4px #aaa;
}


#user-stats {
  background: #fff;
  background-size: cover;
  padding: 80px 0 60px 0;
  z-index: -1;
}

#user-stats .box {
  padding: 30px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  height: 150px;
  position: relative;
  background: #fafafa;
}

#user-stats .icon {
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
  transition: 0.2s;
  border-radius: 50%;
  display: inline-block;
  border: 6px solid #fff;
}

#user-stats .icon {
  display: inline-block;
  background: #dc4c4c;
  border: 2px solid #dc4c4c;
  padding: 15px;
  border-radius: 50%;
  transition: 0.3s;
}

#user-stats .icon i {
  color: #fff;
  font-size: 24px;
}

#user-stats .box:hover .icon i {
  color: #dc4c4c;
}

#user-stats .box:hover .icon a {
  color: #dc4c4c;
  background: #fff;
}

#user-stats .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#user-stats .title a {
  color: #111;
}

#user-stats .description {
  font-size: 14px;
  line-height: 24px;
}

#test-card{
  padding:20px 20px 20px 20px;
  color:white;
  background-color: #22264b;
  margin-bottom: 20px;
}

   #test-table th {
         
            background-color:gray;

            color: white;
            text-align: center;
    }

    table th{
      text-align:center;
    }

    table td {
            /*...all td attributes like padding etc*/
          text-align: center;
    }

    .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: #97ccf1;
}


/*    font-family: 'Sedgwick Ave Display', cursive;

    font-family: 'Bangers', cursive;

    font-family: 'Cabin Sketch', cursive;

    font-family: 'Neucha', cursive;

    font-family: 'Freckle Face', cursive;

    font-family: 'Love Ya Like A Sister', cursive;

    font-family: 'Schoolbell', cursive;
*/


body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: 300;
    margin: 30px 0 15px;
}

h1, .h1 {
    font-size: 52px;
}

h2, .h2 {
    font-size: 36px;
}

h3, .h3 {
    font-size: 28px;
    margin: 20px 0 10px;
}

h4, .h4 {
    font-size: 22px;
    line-height: 30px;
}

h5, .h5 {
    font-size: 16px;
    margin-bottom: 15px;
}

h6, .h6 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: #9A9A9A;
    font-weight: 300;
    line-height: 1.5;
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
    font-size: 60%;
}

h1 .subtitle {
    display: block;
    margin: 0 0 30px;
}

.text-muted {
    color: #9A9A9A;
}

.text-primary, .text-primary:hover {
    color: #1D62F0 !important;
}

.text-info, .text-info:hover {
    color: #1DC7EA !important;
}

.text-success, .text-success:hover {
    color: #87CB16 !important;
}

.text-warning, .text-warning:hover {
    color: #FF9500 !important;
}

.text-danger, .text-danger:hover {
    color: #FF4A55 !important;
}

.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.card .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card .image img {
    width: 100%;
}

.card .filter {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
}

.card .filter .btn {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card:hover .filter {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card .btn-hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.card:hover .btn-hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card .content {
    padding: 15px 15px 10px 15px;
}

.card .header {
    padding: 15px 15px 0;
}

.card .category,
.card label {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.card .category i,
.card label i {
    font-size: 16px;
}

.card label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card .title {
    color: #333333;
    font-weight: 300;
}

.card .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .description {
    font-size: 14px;
    color: #333;
}

.card .footer {
    padding: 0;
    background-color: transparent;
    line-height: 30px;
}

.card .footer .legend {
    padding: 5px 0;
}

.card .footer hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card .stats {
    color: #a9a9a9;
}

.card .footer div {
    display: inline-block;
}

.card .author {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.card .author i {
    font-size: 14px;
}

.card h6 {
    font-size: 12px;
    margin: 0;
}

.card.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #DDDDDD;
    content: "";
    position: absolute;
}

.card .ct-chart {
    margin: 30px 0 30px;
    height: 245px;
}

.card .table tbody td:first-child,
.card .table thead th:first-child {
    padding-left: 15px;
}

.card .table tbody td:last-child,
.card .table thead th:last-child {
    padding-right: 15px;
}

.card .alert {
    border-radius: 4px;
    position: relative;
}

.card .alert.alert-with-icon {
    padding-left: 65px;
}

.card-user .image {
    height: 110px;
}

.card-user .image-plain {
    height: 0;
    margin-top: 110px;
}

.card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -70px;
}

.card-user .avatar {
    width: 124px;
    height: 124px;
    border: 5px solid #FFFFFF;
    position: relative;
    margin-bottom: 15px;
}

.card-user .avatar.border-gray {
    border-color: #EEEEEE;
}

.card-user .title {
    line-height: 24px;
}

.card-user .content {
    min-height: 240px;
}

.card-user .footer,
.card-price .footer {
    padding: 5px 15px 10px;
}

.card-user hr,
.card-price hr {
    margin: 5px 15px;
}

.card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}

.card-plain .image {
    border-radius: 4px;
}

 

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -2px; }


.btn-neutral {
  border-color: #FFFFFF;
  color: #FFFFFF; }
  .btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
    background-color: #FFFFFF;
    color: rgba(255, 255, 255, 0.7);
    border-color: #FFFFFF; }
    .btn-neutral:hover .caret, .btn-neutral:focus .caret, .btn-neutral:active .caret, .btn-neutral.active .caret, .open > .btn-neutral.dropdown-toggle .caret {
      border-top-color: rgba(255, 255, 255, 0.7); }
  .btn-neutral.disabled, .btn-neutral.disabled:hover, .btn-neutral.disabled:focus, .btn-neutral.disabled.focus, .btn-neutral.disabled:active, .btn-neutral.disabled.active, .btn-neutral:disabled, .btn-neutral:disabled:hover, .btn-neutral:disabled:focus, .btn-neutral:disabled.focus, .btn-neutral:disabled:active, .btn-neutral:disabled.active, .btn-neutral[disabled], .btn-neutral[disabled]:hover, .btn-neutral[disabled]:focus, .btn-neutral[disabled].focus, .btn-neutral[disabled]:active, .btn-neutral[disabled].active, fieldset[disabled] .btn-neutral, fieldset[disabled] .btn-neutral:hover, fieldset[disabled] .btn-neutral:focus, fieldset[disabled] .btn-neutral.focus, fieldset[disabled] .btn-neutral:active, fieldset[disabled] .btn-neutral.active {
    background-color: transparent;
    border-color: #FFFFFF; }
  .btn-neutral.btn-fill {
    color: #FFFFFF;
    background-color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100); }
    .btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus, .btn-neutral.btn-fill:active, .btn-neutral.btn-fill.active, .open > .btn-neutral.btn-fill.dropdown-toggle {
      background-color: #FFFFFF;
      color: #FFFFFF;
      border-color: #FFFFFF; }
    .btn-neutral.btn-fill .caret {
      border-top-color: #FFFFFF; }
  .btn-neutral.btn-simple:hover, .btn-neutral.btn-simple:focus, .btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active, .open > .btn-neutral.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #FFFFFF; }
  .btn-neutral.btn-simple .caret {
    border-top-color: #FFFFFF; }
  .btn-neutral .caret {
    border-top-color: #FFFFFF; }
  .btn-neutral:hover, .btn-neutral:focus {
    color: #66615B; }
  .btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
    background-color: #FFFFFF;
    color: #66615B; }
  .btn-neutral.btn-fill {
    color: #66615B; }
  .btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus {
    color: #403D39; }
  .btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active {
    background-color: transparent; }

.btn:disabled, .btn[disabled], .btn.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.btn-simple {
  border: 0;
  padding: 7px 18px; }
  .btn-simple.btn-icon {
    padding: 7px; }

.btn-lg {
  font-size: 18px;
  border-radius: 50px;
  padding: 11px 30px;
  font-weight: 400; }
  .btn-lg.btn-simple {
    padding: 13px 30px; }

.btn-sm {
  font-size: 12px;
  border-radius: 26px;
  padding: 4px 10px; }
  .btn-sm.btn-simple {
    padding: 6px 10px; }

.btn-xs {
  font-size: 12px;
  border-radius: 26px;
  padding: 2px 5px; }
  .btn-xs.btn-simple {
    padding: 4px 5px; }

.btn-wd {
  min-width: 140px; }

.btn-group.select {
  width: 100%; }

.btn-group.select .btn {
  text-align: left; }

.btn-group.select .caret {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 8px; }

/*
footer
{ 
  z-index: 1;
  height: 70px;
  background-color: #545454;
  color: white;
  position:relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

}

.footer {
  background-attachment: fixed;
  position: relative;
  line-height: 20px; }
  .footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal; }
    .footer nav ul li {
      display: inline-block;
      padding: 10px 15px;
      margin: 15px 3px;
      line-height: 20px;
      text-align: center; }
    .footer nav ul a:not(.btn) {
      color: #66615b;
      display: block;
      margin-bottom: 3px; }
      .footer nav ul a:not(.btn):focus, .footer nav ul a:not(.btn):hover {
        color: #403D39; }
  .footer .copyright {
    color: #66615b;
    padding: 10px 15px;
    font-size: 14px;
    white-space: nowrap;
    margin: 15px 3px;
    line-height: 20px;
    text-align: center; }
  .footer .heart {
    color: #EB5E28; }*/

    #myFooter p{
  margin-bottom: 0!important;
}
#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
 }   
